<!--#
This file is part of the digitalResource package.
(c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->
<div id="contain" >
    <div class="container-fluid" data-translate-catalog="digitalResource/format">
        <div class="page-header">
            <h1>
                <i class="fa fa-cubes"></i>
                Formats
            </h1>
        </div>
    </div>
    <div class="container-fluid" data-translate-catalog="digitalResource/format">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4><span id='tableItemNumber'><?merge formats.count() ?></span> format(s)</h4>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table dataTable" id="format_tableList">
                            <thead>
                                <tr>
                                    <th>Puid</th>
                                    <th>Name</th>
                                    <th>Version</th>
                                    <th>Sustainability</th>
                                    <th>Enabled</th>
                                    <th style="min-width:130px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge formats ?>
                                <tr>
                                    <td name="puid"><?merge .puid ?></td>
                                    <td name="name"><?merge .name ?></td>
                                    <td name="version"><?merge .version ?></td>
                                    <td name="sustainability">
                                        <?merge .sustainability.not() ?><i class="fa fa-times"></i>
                                        <?merge .sustainability.ifne(false) ?><i class="fa fa-check"></i>
                                    </td>
                                    <td name="enabled">
                                        <?merge .enabled.not() ?><i class="fa fa-times"></i>
                                        <?merge .enabled.ifne(false) ?><i class="fa fa-check"></i>
                                    </td>
                                    <td class="action_btn">
                                        <div class="btn-group pull-right">
                                            <button type="button" data-formatPuid="[?merge .puid ?]" class="editFormat btn btn-warning" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <button type="button" data-formatPuid="[?merge .puid ?]" class="deleteFormat btn btn-danger" title="Delete">
                                                <span class="fa fa-fw fa-trash"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h3 id="format_create">Format creation</h3>
                    <h3 id="format_modify" class="hide">Update format</h3>
                </div>
                <div class="col-md-12" id="format_formContent">
                    <form class="form-horizontal">
                        <div class="form-group" id="fieldPuid">
                            <label class="col-md-2 control-label">Puid<span style="color:red">&nbsp;*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="fieldPuid" placeholder="Puid" id="puidTypeahead"/>
                            </div>
                        </div>
                        <div class="form-group" id="fieldName">
                            <label class="col-md-2 control-label">Name<span style="color:red">&nbsp;*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="fieldName" placeholder="Name"/>
<!--                                 <small class="help-block">The first and last character must be a letter. You must use only letters and the special character '_'</small> -->
                            </div>
                        </div>
                        <div class="form-group" id="fieldVersion">
                            <label class="col-md-2 control-label">Version</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="fieldVersion" placeholder="Version"/>
                            </div>
                        </div>
                        <!-- MIMEMTYPES -->
                        <div class="form-group" id="mimetypeEnumForm">
                            <label class="col-md-2 control-label">Mimetypes</label>
                            <div class="col-md-8">
                                <div class="input-group" style="border-radius: 4px 0 0 4px;">
                                    <input type='text' id="inputAddMimetype" class="form-control col-md-6" name="mimetypeEnumField" placeholder="Identifier" style="border-radius: 4px 0 0 4px;" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success" id="btnAddMimetypeField"><span class="fa fa-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                            <ul class="col-md-offset-2 col-md-8" id="mimetypeEnumList">
                            </ul>
                        </div>
                        <!-- EXTENSIONS -->
                        <div class="form-group" id="extensionEnumForm">
                            <label class="col-md-2 control-label">Extensions</label>
                            <div class="col-md-8">
                                <div class="input-group" style="border-radius: 4px 0 0 4px;">
                                    <input type='text' id="inputAddExtension" class="form-control col-md-6" name="extensionEnumField" placeholder="Identifier" style="border-radius: 4px 0 0 4px;" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success" id="btnAddExtensionField"><span class="fa fa-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                            <ul class="col-md-offset-2 col-md-8" id="extensionEnumList">
                            </ul>
                        </div>
                        <!-- FIN EXTENSIONS -->
                        <div class="form-group" id="sustainabilityValue">
                            <label class="col-md-2 control-label">Sustainable format</label>
                            <div class="col-md-8">
                                <input type="checkbox" data-toggle="toggle" data-on="Oui" data-off="Non" id="isSustainable">
                            </div>
                        </div>
                        <div class="form-group" id="statusValue">
                            <label class="col-md-2 control-label">Format status</label>
                            <div class="col-md-8">
                                <input type="checkbox" data-toggle="toggle" data-on="Activé" data-off="Désactivé" id="isEnabled">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-10">
                    <div class="pull-right" id="format_formBtn">
                        <button type="button" class="btn btn-default" id="format_formCancelBtn">Cancel</button>
                        <button type="button" class="btn btn-success" id="format_formSaveBtn">Save</button>
                        <button type="button" class="btn btn-warning hide" id="format_formModifyBtn">Modify</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hide">
        <li class="list-group-item" id="extensionEnumTemplate" style="padding: 6px 15px;">
            <strong class="extensionEnumeration"></strong>
            <span class="deleteExtensionEnum pull-right" title="Delete"><i class="fa fa-times"></i></span>
        </li>

        <li class="list-group-item" id="mimetypeEnumTemplate" style="padding: 6px 15px;">
            <strong class="mimetypeEnumeration"></strong>
            <span class="deleteMimetypeEnum pull-right" title="Delete"><i class="fa fa-times"></i></span>
        </li>
    </div>

    <div class="hide" data-translate-catalog="digitalResource/format">
        <span id="message_confirmDelete">Are you sure to delete this row ?</span>
        <span id="message_requiredFields">You must define all required fields</span>
        <span id="message_incorrectPuid">The puid is invalid</span>
        <span id="noFormatFound">No format found</span>
    </div>
</div>

<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>

<script type="text/javascript">

    $("#format_formBtn").on('click', "#format_formCancelBtn", function () {
        $('#format_create').removeClass('hide');
        $("#format_modify").addClass('hide');
        clearForm();
    });

    $("#format_tableList").on('click', '.editFormat', function () {
        $('#format_create').addClass('hide');
        $("#format_modify").removeClass('hide');
        var formatPuid = $(this).attr("data-formatPuid");

        $.ajax({
            url: '/format?puid=' + formatPuid,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.status) {
                    clearForm();
                    $("#format_formModifyBtn").removeClass("hide");
                    $("#format_formSaveBtn").addClass("hide")
                    $('#fieldPuid').find('input').val(response.format.puid).attr("disabled",true);
                    mergeForm(response.format);
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    $("#format_tableList").on('click', '.deleteFormat', function () {
        if (!confirm($("#message_confirmDelete").text())) {
            return;
        }

        var formatPuid = $(this).attr("data-formatPuid");

        $.ajax({
            url: '/format?puid=' + formatPuid,
            type: 'DELETE',
            dataType: 'json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status) {
                    load('/digitalresource/formats');
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });


    $("#format_formBtn").on('click', "#format_formSaveBtn", function () {
        var data = new Object();
        data.format = serialize();

        // var pattern = new RegExp("^[A-Za-z0-9+-/_ ]*[A-Za-z0-9]$");

        if(!data.format.puid) {
            gritter.show($("#message_incorrectPuid").text(), false);
            return;
        }

/*         if(!pattern.test(data.format.name)) {
            return;
        } */

        if (!checkRequiredFields(data.format)) {
            gritter.show($("#message_requiredFields").text(), false);
            return;
        }

        $.ajax({
            url: '/format',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status) {
                    load('/digitalresource/formats');
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    $("#format_formBtn").on('click', "#format_formModifyBtn", function () {
        var data = new Object();
        data.format = serialize();
        data.puid = data.format.puid;

/*         var pattern = new RegExp("^[A-Za-z0-9+-/_ ]*[A-Za-z0-9]$");

        if(!pattern.test(data.format.name)) {
            return;
        } */

        if (!checkRequiredFields(data.format)) {
            gritter.show($("#message_requiredFields").text(), false);
            return;
        }

        $.ajax({
            url: '/format',
            type: 'PUT',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status) {
                    load('/digitalresource/formats');
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    function clearForm() {
        $("#format_formContent").find('input[type="text"]').val('');

        $("#fieldPuid").data('puid', '');
        $('#fieldPuid').find('input').removeAttr("disabled");

        let formGroup = $('#fieldName').closest('.form-group');
        formGroup.removeClass('has-error');
        formGroup.removeClass('has-success');

/*         $.each($("#extensionEnumList").find(".list-group-item"), function (key, item) {
            item.remove()
        }); */

        $('#mimetypeEnumList').empty();
        $('#extensionEnumList').empty();

        $('#isSustainable').bootstrapToggle('off');
        $('#isEnabled').bootstrapToggle('off');

        $('#format_formSaveBtn').removeClass('hide');
        $("#format_formModifyBtn").addClass("hide");
    }

    function mergeForm(format) {
        $('#fieldName').find('input').val(format.name);
        $('#fieldVersion').find('input').val(format.version);

        $.each(format.mimetypes, function (key, value) {
            $("#inputAddMimetype").val(value);
            $("#btnAddMimetypeField").click();
        });

        $.each(format.extensions, function (key, value) {
            $("#inputAddExtension").val(value);
            $("#btnAddExtensionField").click();
        });
        
        if (format.sustainability) {
            $('#isSustainable').bootstrapToggle('on');
        }

        if (format.enabled) {
            $('#isEnabled').bootstrapToggle('on');
        }

        let formGroup = $('#fieldName').closest('.form-group');
        formGroup.removeClass('has-error');
        formGroup.removeClass('has-success');
    }

    function checkRequiredFields(format) {
        var requiredFields = ["puid", "name"];

        var error = 0;
        $.each(requiredFields, function( i, val ) {
            if (format[val] == null || format[val] == "undefined" || !format[val]) {
                error++;
                return;
            }
        });

        if (error > 0) {
            return false;
        }

        return true;
    }

    function serialize () {
        if ($('#fieldPuid').data('puid')) {
            var puid = $('#fieldPuid').data('puid');
        }

        if ($('#fieldPuid').find('input').val()) {
            var puid = $('#fieldPuid').find('input').val();
        }

        var field = {
            puid            : puid,
            name            : $('#fieldName').find('input').val(),
            version         : $('#fieldVersion').find('input').val(),
            mimetypes       : serializeMimetypes(),
            extensions      : serializeExtensions(),
            sustainability  : $('#isSustainable').prop("checked"),
            enabled         : $('#isEnabled').prop("checked")
        };
        return field;
    }

/*     $("#format_formContent").on("keyup","[name='fieldName']", function(){
        var input = $(this);
        var pattern = new RegExp("^[A-Za-z0-9+-/_ ]*[A-Za-z0-9]$");
        var formGroup = input.closest('.form-group');

        if(!input.val()) {
            formGroup.removeClass('has-error');
            formGroup.removeClass('has-success');
        } else if (pattern.test(input.val())) {
            formGroup.removeClass('has-error').addClass('has-success');
        } else {
            formGroup.removeClass('has-success').addClass('has-error');
        }
    }); */

    // initialize typeahead

    var formats = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('puid'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/pronomformats', ttl: '0'},
        limit: 500
    });
    formats.initialize();

    $('#puidTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 2
        },
        {
            name: 'formats',
            displayKey: 'puid',
            templates: {
                empty: function() {
                    return "<span class='well well-sm'>"+$('#noFormatFound').text()+"</span>";
                },
                suggestion: function(format) {
                    var display;
                    if(format.name) {
                        display =
                            "<span>"
                            + "<span class='fa fa-file' >&nbsp;</span>"
                            + "<span style='font-family:Helvetica, sans-serif;'>"
                            + format.puid
                            +" - "
                            + format.name
                            + "</span></span><br>";
                    } else {
                        display = this.empty();
                    }
                    return display;
                }
            },
            source: function (query, process) {
                formatList = [];
                formats.search(query, function (suggestions) {
                    formatList = suggestions;
                });
                process(formatList);
            },
            limit: 10,
            skipCache: true
        }
    ).on('typeahead:selected', function($event, suggestion, source) {
        $("#fieldPuid").data('puid', suggestion.puid);
        $('#fieldPuid').find('input').attr("disabled",true);
        mergeForm(suggestion);
    });


    $("#mimetypeEnumList").on('click', ".deleteMimetypeEnum", function () {
        $(this).closest(".list-group-item").remove();
    });

    $("#extensionEnumList").on('click', ".deleteExtensionEnum", function () {
        $(this).closest(".list-group-item").remove();
    });

    $("#mimetypeEnumForm").on('click', "#btnAddMimetypeField", function () {
        if ($("#inputAddMimetype").val() === "" || $("#inputAddMimetype").val() === null || $("#inputAddMimetype").val() === undefined) {
            return;
        }

        var template = $("#mimetypeEnumTemplate").clone();
        template.removeAttr("id");
        var inputAddMimetype = $("#inputAddMimetype").val()

        template.find(".mimetypeEnumeration")
                .text(inputAddMimetype)
                .attr('data-mimetype', inputAddMimetype);
        $("#mimetypeEnumList").append(template);

        $("#inputAddMimetype").val("");
    });

    $("#extensionEnumForm").on('click', "#btnAddExtensionField", function () {
        if ($("#inputAddExtension").val() === "" || $("#inputAddExtension").val() === null || $("#inputAddExtension").val() === undefined) {
            return;
        }

        var template = $("#extensionEnumTemplate").clone();
        template.removeAttr("id");
        var inputAddExtension = $("#inputAddExtension").val()

        template.find(".extensionEnumeration")
                .text(inputAddExtension)
                .attr('data-extension', inputAddExtension);
        $("#extensionEnumList").append(template);

        $("#inputAddExtension").val("");
    });

    function serializeMimetypes() {
        var nbResult = $("#mimetypeEnumList").find(".list-group-item").length;
        var mimetypes = new Array();

        if (nbResult == 0) {
            return mimetypes;
        } else {
            $.each($("#mimetypeEnumList").find(".mimetypeEnumeration"), function (key, item) {
                if (item.getAttribute('data-mimetype')) {
                    mimetypes.push(item.getAttribute('data-mimetype'));
                }
            });
            mimetypes.join(" ");
        }

        return mimetypes;
    }

    function serializeExtensions() {
        var nbResult = $("#extensionEnumList").find(".list-group-item").length;
        var extensions = new Array();

        if (nbResult == 0) {
            return extensions;
        } else {
            $.each($("#extensionEnumList").find(".extensionEnumeration"), function (key, item) {
                if (item.getAttribute('data-extension')) {
                    extensions.push(item.getAttribute('data-extension'));
                }
            });
            extensions.join(" ");
        }

        return extensions;
    }

</script>
